<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <style>
            .container {
                border: 1px solid green;
                width: 85%;
                height: 300px;
            }
            
        </style>
    </head>
    <body>
        <div class="container">
            {% block body %}
                Default content!!!!!!!!!!!
            {% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>